.auth-btn-submit {
  margin-top: 1rem;
}

.form {
  margin-top: 1rem;
  width: 100%;
}

.auth-form {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  margin: 7rem auto 0;
  max-width: 900px;

  button {
    align-self: flex-end;
    max-width: 200px;
    margin-bottom: 1rem;
  }
}

.auth-style {
  // align-items: center;
  // display: flex;
  // flex-direction: column;
  margin-top: 2rem;
  padding: 1rem;
  margin: 1rem;
}

.cp-auth-form input {
  margin: 0;
}
