.mainMover {
  color: lightgreen;
}

.technique {
  color: lightblue;
}

.table-primary {
  color: black;
}

table {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.46),0 2px 10px 0 rgba(0,0,0,0.42);
}

.green {
  background-color: green;
}

select, input {
  width: 100%;
}

.center {
  text-align: center;
}
