body {
  font-family: sans-serif;
  margin: 0 10px;
  padding: 0 20px;
}

.mainMover {
  color: lightgreen;
}

.technique {
  color: lightblue;
}

.table-primary {
  color: black;
}

table {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.46),0 2px 10px 0 rgba(0,0,0,0.42);
}

.wave {
  // margin: 0px 5px;
}
