$gold: #B29E40;
$lightGold: #F5F3E7;
$transparent: rgba(255, 255, 255, .3);

body {
  background-image: url('../Dumbbells.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.mainMover {
  color: lightgreen;
}

.technique {
  color: lightblue;
}

.table-primary {
  color: black;
}

.green {
  background-color: green;
}

select, input {
  width: 100%;
}

.center {
  text-align: center;
}

.center-element {
  display: flex;
  justify-content: center;
}

.welcome {
  max-width: 500px;
  margin: 1em;
}

.welcome-main {
  display: flex;
  justify-content: center;
}

.welcome-content {
  padding: 2em;
}

.welcome-p {
  font-size: 1rem;
  line-height: 2em;
  text-align: center;
}

p {
  font-size: 1rem;
  line-height: 1.5em;
}

.form-container {
  margin: auto;
  width: 80%;
}

.form-body {
  margin: 1.5em;
  display: flex;
  justify-content: center;
}

.forms {
  display: flex;
  justify-content: center;
}

.form-title {
  width: 100%;
  text-align: center;
}

.center-text {
  text-align: center;
  margin: 0 0 1em 0;
  font-size: 3em;
}

.form-padding {
  // display: flex;
  // justify-content: center;
  padding: 2em;
}

.title-form {
  width: 100%;
}

.form-class {
  width: 100%;
}

.input-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input-row {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
}

.half-form {
  width: 48%;
}

.name-form {
  width: 65%;
}

.third-form {
  width: 32%;
}

.num-form {
  width: 16%;
}

.wave {
  max-width: 500px;
}

.wave-container, .flex-center {
  display: flex;
  justify-content: center;

}

.PrivateNotchedOutline-root-430 {
  // position: relative;
}

.routine-header {
  max-width: 300px;
}

.waves {
  display: flex;
  justify-content: center;
  width: 100%;
}

.routine-header-container {
  margin-bottom: 1em;
}

.auth-container {
  margin: 1em;
}

span, {
  font-family: 'Roboto';
}

.routine-header {
  font-family: 'Roboto';
  color: white;
}

.white {
  color: white;
}

.MuiExpansionPanelDetails-root {
  display: flex;
  justify-content: center;
}

.routine-expansion-container {
  margin: 0 0 0.5em 0;
}

@media only screen and (max-width: 600px) {

  .form-container {
    margin: auto;
    width: 100%;
  }

  .form-body {
    margin: 0;
  }

  .form-padding {
    padding: 1em;
  }

  .no-mobile {
    display: none;
  }

  // .wave-expansion-container {
  //   padding: 0;
  // }

  body {
    background-image: url('../mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
}

 .css-2b097c-container {
   width: 100%;
 }

 .wave-expansion-container {
   padding: 1em;
 }

 .read-more-container {
   margin: 1em;
 }

 @media only screen and (min-width: 800px) {
   .wave-expansion-container {
     padding: 1em 15em;
   }
}

@media only screen and (min-width: 600px) {
  .welcome-main, .auth-container {
    height: 85vh;
    display: flex;
    align-items: center;
  }
}
